body 
{
	/*margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f0f0f0;*/
}

#container
{
	background-image: url('img/accueilArrierePlan.jpg');
	background-repeat: no-repeat;
	/*background-color: #3dbece;*/
}

#buttons 
{
	position: absolute;
	top: 0px;
	left: 0px;
}

#btn-play
{
	width: 15px;
	height: 14px;
	border-radius: 25px;
}

.btn
{
	border: none;
}

#scene1
{
	/*height: 90%;
	width: 90%;*/
	display: flex;
	justify-content: space-around;
}

/*body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F0F0F0;
}

#scene2 {
  position : absolute;
  top: 5px;
  left: 5px;
}*/