title
{
	fill: '#8D9590'
}
body 
{
	/*margin: 0;
	padding: 0;
	overflow: hidden;*/
	
}

#container
{   
	background-color: #f9bb35;
	background-image: url('img/accueilArrierePlan11.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
	/*background-color: #3dbece;*/
}

#buttons 
{
	position: absolute;
	top: 0px;
	left: 0px;
}

#btn-play
{
	width: 15px;
	height: 14px;
	border-radius: 25px;
	box-shadow: 0px 0px 0px;
}

.btn
{
	border: none;
	border-color: transparent;

}
.btn:hover
{
	background-color: transparent;
}

#scene1
{
	/*height: 90%;
	width: 90%;*/
	display: flex;
	justify-content: space-around;
}

/*body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F0F0F0;
}

#scene2 {
  position : absolute;
  top: 5px;
  left: 5px;
}*/